* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Courier New", Courier, monospace;
    padding-bottom: 20px;
    font-family: "Courier New", Courier, monospace;
    background: linear-gradient(90deg, #080e49 0%, #1f1b55 100%);
    animation: gradientAnimation 8s infinite alternate;

    @keyframes gradientAnimation {
        0% {
            background: linear-gradient(90deg, #080e49 0%, #1f1b55 100%);
        }

        50% {
            background: linear-gradient(90deg, #1f1b55 0%, #080e49 100%);
        }

        100% {
            background: linear-gradient(90deg, #080e49 0%, #1f1b55 100%);
        }
    }

    background-size: 200% 200%;
    margin: 20px;
}

section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('./bg0.jpg');
    background-position: center;
    background-size: cover;
    animation: animateBg 50s linear infinite;
    z-index: -1;
}

@keyframes animateBg {
    0%,
    10% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.2);
    }
    40% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(1.1);
    }
    60% {
        transform: scale(1.05);
    }
    70% {
        transform: scale(1.1);

    }
}

@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(315deg) translateX(-1500px);
        opacity: 0;
    }
}

.top-left-image {
    position: fixed;
    top: 40px;
    left: 20px;
    border: 3px solid rgb(0, 0, 0);
    width: 205px;
    height: auto;
    margin: auto;
    box-shadow: #e42584 0px 0px 20px;
}

.below-image-text {
    position: fixed;
    top: 250px;
    left: 10px;
    color: #ffffff;
    font-size: 15px;
    font-family: "Courier New", Courier, monospace;
    width: 230px;
    background-color: #1e1e1e;
    height: fit-content;
    margin-top: 10px;
    margin: 10px;
    border: 2px solid #21bdd1;
    padding: 10px;
    line-height: 20px;
    box-shadow: #4721d1 0px 0px 20px;
}

.footer {
    position: fixed;
    bottom: 10px;
    text-align: left;
    color: #ffffff;
    background: fixed;
    background: linear-gradient(60deg, #020416 50%, #181633 100%);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
    font-family: "Courier New", Courier, monospace;
    border: 2px solid #a725e4;
    border-radius: 0px;
    width: 260px;
    font-size: 14px;
    height: 130px;
    box-shadow: #4721d1 0px 0px 20px;
}

.footer code {
    color: #a725e4;
}

.footer a {
    color: #0ebfdf;
    text-decoration: none;
}

.footer a:hover {
    color: #0e69df;
    text-decoration: underline;
}

.main-content {
    position: absolute;
    top: 50px;
    left: 315px;
    right: 20px;
    white-space: pre-wrap;
    word-break: keep-all;
    overflow-wrap: break-word;
}

.terminal-box {
    background-color: #1c1c1c;
    color: #636be6;
    font-family: "Courier New", Courier, monospace;
    padding: 15px;
    border: 2px solid #21bdd1;
    border-radius: 0px;
    height: auto;
    box-shadow: #4721d1 0px 0px 20px;
    padding-left: 20px;
    width: 700px;
}

.terminal-box pre {
    color: #e42584;
    font-size: 15px;
    padding-left: 20px;
    white-space: pre-wrap;
    word-break: keep-all;
    overflow-wrap: break-word;
    animation: smooth-color-change 10s ease-in-out infinite;
}

@keyframes smooth-color-change {
    0% { color: #e42584; }
    25% { color: #6a73ee; }
    50% { color: #636be6; }
    75% { color: #983af0; }
    100% { color: #e42584; }
}

.terminal-box h1 {
    text-align: center;
        text-shadow:
        0 0 5px #4721d1,
        0 0 10px #cb21d1,
        0 0 20px #21bdd1,
        0 0 40px #2141d1,
        0 0 80px #d12156;
    font-weight: bold;
    text-decoration: wavy;
    letter-spacing: 2px;
}

.terminal-box h2 {
    text-align: center;
        text-shadow:
        0 0 5px #4721d1,
        0 0 10px #cb21d1,
        0 0 20px #21bdd1,
        0 0 40px #2141d1,
        0 0 80px #d12156;
    font-weight: bold;
    text-decoration: wavy;
    letter-spacing: 2px;
}

.projects {
    margin: 780px 300px;
    padding: 20px;
    background-color: #1e1e1e;
    color: white;
    border: 2px solid #21bdd1;
    border-radius: 0px;
    height: auto;
    width: 800px;
    box-shadow: #21bdd1 0px 0px 25px;
}

.projects h2 {
    text-align: center;
}

.projects ul {
    list-style: none;
    padding: 0;
    align-items: center;
}

.projects li {
    margin-bottom: 15px;
}

.projects a {
    color: #b96aee;
    text-decoration: none;
    align-items: center;
}

.projects a:hover {
    text-decoration: underline;
    color: #e42584;
}

.image-box a {
    color: #6adcee;
    text-decoration: none;
    align-items: center;
    text-shadow: 
    0 0 5px#2141d1,
    0 0 10px #d12156,
    0 0 15px #a725e4,
    0 0 20px #ffffff;
}
.image-box a:hover {
    text-decoration: underline;
    color: #e42584;
    text-shadow: 
    0 0 5px #2141d1,
    0 0 10px #d12156,
    0 0 15px #a725e4,
    0 0 20px #ffffff
    ;
}

.image-box {
    display: flex;
    flex-direction: column;
    background-color: #1c1c1c;
    padding: 15px;
    border: 2px solid #21bdd1;
    box-shadow: #4721d1 0px 0px 20px;
    width: 700px;
    margin-top: 20px;
}

.image-box-entry {
    display: flex;
    align-items: center;
    word-break: keep-all;
}

.image-box-entry:not(:last-child) {
    margin-bottom: 15px;
}

.image-box img {
    display: block;
    width: 100px;
    height: auto;
    margin-right: 20px;
    border: 2px solid aquamarine;
    box-sizing: border-box;
}

.image-box-text {
    color: #e42584;
}

.footer-icon {
    height: auto;
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
    box-shadow: #cb21d1 0px 0px 5px;
}

facts {
    color: #2191d1;
}

.custom-paragraph {
    width: 804px;
    height: auto;
    position: absolute;
    top: 1350px;
    left: 320px;
    color: #ffffff;
    background-color: #1e1e1e;
    padding: 20px;
    border: 2px solid #21bdd1;
    box-shadow: #0ebfdf 0px 0px 20px;
}

.para {
    width: 804px;
    height: auto;
    position: absolute;
    top: 1600px;
    left: 320px;
    color: #ffffff;
    background-color: #1e1e1e;
    padding: 20px;
    border: 2px solid #21bdd1;
    box-shadow: #4721d1 0px 0px 20px;
}

.para code {
    color: #259ee4;
}

.para a {
    color: #983af0;
    text-align: center;
}

.para b {
    color: #d67ec7;
    text-decoration: underline;
    text-shadow: 0 0 5px #21bdd1;
    font-weight: bold;
    letter-spacing: 2px;
}

.para a:hover {
    text-decoration: underline;
    color: #e42584;
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1e1e1e;
    color: #21bdd1;
    text-align: center;
    padding: 1px 0;
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
    border-bottom: 2px solid #21bdd1;
    z-index: 1000;
    box-shadow: #ffffff 0px 10px 20px;
    text-shadow: #21bdd1 0px 0px 20px;
    }

body {
    padding-top: 60px;
}

.below-image-image {
    position: fixed;
    top: 315px;
    left: 10px;
    border: 3px solid rgb(20, 159, 194);
    width: 225px;
    height: 230;
    margin: 10px;
    box-shadow: #6c9ee9 0px 0px 20px;
}

.link-selector {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: linear-gradient(60deg, #020416 50%, #29255e 100%);
    color: #60dee7;
    padding: 10px;
    border: 2px solid #983af0;
    font-family: "Courier New", Courier, monospace;
    z-index: 1000;
    width: auto;
    box-shadow: #ffffff 0px 0px 20px;
}

.link-selector select {
    background-color: #1e1e1e;
    color: #d121ba;
    border: 1px solid #e42584;
    padding: 5px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

color {
    color: #6adcee;
}

.scp h2 {
    text-align: center;
    text-shadow:
    0 0 5px #4721d1,
    0 0 10px #cb21d1,
    0 0 20px #21bdd1,
    0 0 40px #2141d1,
    0 0 80px #d12156;
    font-weight: bold;
    text-decoration: wavy;
    letter-spacing: 2px;
    line-height: normal;
}
scp a {
    color: #6adcee;
    text-decoration: none;
    align-items: center;
    text-shadow: 
    0 0 5px#2141d1,
    0 0 10px #d12156,
    0 0 15px #a725e4,
    0 0 20px #ffffff;
}
scp a:hover {
    text-decoration: underline;
    color: #e42584;
    text-shadow: 
    0 0 5px #2141d1,
    0 0 10px #d12156,
    0 0 15px #a725e4,
    0 0 20px #ffffff
    ;
}

.text {
    position: fixed;
    top: 30px;
    right: 20px;
    color: #ffffff;
    font-size: 15px;
    font-family: "Courier New", Courier, monospace;
    width: 210px;
    background-color: #1e1e1e;
    height: fit-content;
    margin-top: 10px;
    margin: 10px;
    border: 2px solid #21bdd1;
    padding: 10px;
    line-height: 20px;
    text-align: center;
    font-size: smaller;
    box-shadow: #983af0 0px 0px 20px;
}
.text a {
    color: #6adcee;
    text-decoration: none;
    align-items: center;
}
.text a:hover {
    text-decoration: underline;
    color: #e42584;
}
